In [1]:
print("Create a new set:")
x = set()
print(x)
print(type(x))
print("\nCreate a non empty set:")
n = set([0, 1, 2, 3, 4])
print(n)
print(type(n))
print("\nUsing a literal:")
a = {1,2,3,'foo','bar'}
print(type(a))
print(a)

Create a new set:
set()
<class 'set'>

Create a non empty set:
{0, 1, 2, 3, 4}
<class 'set'>

Using a literal:
<class 'set'>
{1, 2, 3, 'foo', 'bar'}

In [2]:
#Create a set 
num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
  print(n, end=' ')
print("\n\nCreating a set using string:")
char_set = set("w3resource")  
# Iterating using for loop
for val in char_set:
    print(val, end=' ')

0 1 2 3 4 5

Creating a set using string:
c w e o 3 u r s

In [3]:
#A new empty set
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

set()

Add single element:
{'Red'}

Add multiple items:
{'Blue', 'Green', 'Red'}

In [4]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

In [5]:
#Create a new set
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 2 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 7 from the said set:")
num_set.discard(15)
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}

Remove 0 from the said set:
{0, 1, 2, 3, 5}

Remove 5 from the said set:
{0, 1, 2, 3}

Remove 2 from the said set:
{0, 1, 2, 3}

Remove 7 from the said set:
{0, 1, 2, 3}

In [6]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

Original set elements:
{'green', 'blue'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

In [7]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
print("\nUnion of above sets:")
setn = setn1.union(setn2)
print(setn)

Original sets:
{'green', 'blue'}
{'yellow', 'blue'}

Union of above sets:
{'yellow', 'green', 'blue'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
print(r1)
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1:")
print(r2)

Original sets:
{'green', 'blue'}
{'yellow', 'blue'}

Difference of setc1 - setc2:
{'green'}

Difference of setc2 - setc1:
{'yellow'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Difference of setn1 - setn2:
{2, 3, 4}

Difference of setn2 - setn1:
{8, 9, 6, 7}

In [9]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.symmetric_difference(setc2)
print("\nSymmetric difference of setc1 - setc2:")
print(r1)
r2 = setc2.symmetric_difference(setc1)
print("\nSymmetric difference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.symmetric_difference(setn2)
print("\nSymmetric difference of setn1 - setn2:")
print(r1)
r2 = setn2.symmetric_difference(setn1)
print("\nSymmetric difference of setn2 - setn1:")
print(r2)

Original sets:
{'green', 'blue'}
{'yellow', 'blue'}

Symmetric difference of setc1 - setc2:
{'yellow', 'green'}

Symmetric difference of setc2 - setc1:
{'yellow', 'green'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Symmetric difference of setn1 - setn2:
{2, 3, 4, 6, 7, 8, 9}

Symmetric difference of setn2 - setn1:
{2, 3, 4, 6, 7, 8, 9}

In [10]:
print("Check if a set is a subset of another set, using comparison operators and issubset():\n")
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
print("x: ",setx)
print("y: ",sety)
print("z: ",setz,"\n")
print("If x is subset of y")
print(setx <= sety)
print(setx.issubset(sety))
print("If y is subset of x")
print(sety <= setx)
print(sety.issubset(setx))
print("\nIf y is subset of z")
print(sety <= setz)
print(sety.issubset(setz))
print("If z is subset of y")
print(setz <= sety)
print(setz.issubset(sety))

Check if a set is a subset of another set, using comparison operators and issubset():

x:  {'apple', 'mango'}
y:  {'orange', 'mango'}
z:  {'mango'}

If x is subset of y
False
False
If y is subset of x
False
False

If y is subset of z
False
False
If z is subset of y
True
True

In [11]:
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
#A shallow copy
setr = setp.copy()
print(setr)

{'Green', 'Red'}

In [12]:
setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

Original set elements:
{'Green', 'Black', 'White', 'Red'}

After removing all elements of the said set.
set()

In [13]:
x = frozenset([1, 2, 3, 4, 5])
y = frozenset([3, 4, 5, 6, 7])
#use isdisjoint(). Return True if the set has no elements in common with other. 
print(x.isdisjoint(y))
#use difference(). Return a new set with elements in the set that are not in the others.
print(x.difference(y))
#new set with elements from both x and y
print(x | y)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})

In [14]:
#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 5, 10, 15, 20}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2

In [15]:
#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

setn = {5, 5, 5, 5, 5, 5}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

setn = {5, 5, 5, 5, 5, 5, 7}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

Original set elements:
{2, 3, 5, 10, 15, 20}
<class 'set'>

Length of the said set:
6
Original set elements:
{5}
<class 'set'>

Length of the said set:
1
Original set elements:
{5, 7}
<class 'set'>

Length of the said set:
2

In [16]:
nums = {1, 3, 5, 7, 9, 11}
print("Original sets(nums): ",nums,"\n")
print("Test if 6 exists in nums:")
print(6 in nums)
print("Test if 7 exists in nums:")
print(7 in nums)
print("Test if 11 exists in nums:")
print(11 in nums)
print("Test if 0 exists in nums:")
print(0 in nums)
print("\nTest if 6 is not in nums")
print(6 not in nums)
print("Test if 7 is not in nums")
print(7 not in nums)
print("Test if 11 is not in nums")
print(11 not in nums)
print("Test if 0 is not in nums")
print(0 not in nums)

Original sets(nums):  {1, 3, 5, 7, 9, 11}

Test if 6 exists in nums:
False
Test if 7 exists in nums:
True
Test if 11 exists in nums:
True
Test if 0 exists in nums:
False

Test if 6 is not in nums
True
Test if 7 is not in nums
False
Test if 11 is not in nums
False
Test if 0 is not in nums
True

In [17]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}
{8}

Confirm two given sets have no element(s) in common:

Compare x and y:
False

Compare x and z:
True

Compare y and z:
True

In [18]:
nums = {10,20,30,40,50}
print("Original set: ",nums)
print("If nums is superset of itself?")
print(nums.issuperset(nums))
num1 = {1, 2, 3, 4, 5, 7}
num2 = {2, 4}
num3 = {2, 4}
print("\nnum1 = ", num1)
print("num2 = ", num2)
print("num3 = ", num3)
print("If mum1 is superset of num2:")
print(num1>num2)
print("Compare mum2 and num3:")
print("If mum2 is superset of num3:")
print(num2>num3)
print("If mum3 is superset of num2:")
print(num3>num2)

Original set:  {40, 10, 50, 20, 30}
If nums is superset of itself?
True

num1 =  {1, 2, 3, 4, 5, 7}
num2 =  {2, 4}
num3 =  {2, 4}
If mum1 is superset of num2:
True
Compare mum2 and num3:
If mum2 is superset of num3:
False
If mum3 is superset of num2:
False

In [19]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("Difference of sn1 and sn2 using difference():")
print(sn1.difference(sn2))
print("Difference of sn2 and sn1 using difference():")
print(sn2.difference(sn1))
print("Difference of sn1 and sn2 using - operator:")
print(sn1-sn2)
print("Difference of sn2 and sn1 using - operator:")
print(sn2-sn1)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
Difference of sn1 and sn2 using difference():
{1, 2, 3}
Difference of sn2 and sn1 using difference():
{8, 6, 7}
Difference of sn1 and sn2 using - operator:
{1, 2, 3}
Difference of sn2 and sn1 using - operator:
{8, 6, 7}

In [20]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print("sn1: ",sn1)
print("sn2: ",sn2)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("\nRemove the intersection of a 2nd set from the 1st set using -= operator:")
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using difference_update():
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using -= operator:
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}